tmp_storage/MaNGA_PIPE3D_spaxels_density_no_dust_corr.dat
tmp_storage/MaNGA_star_forming_spaxels_data_v2.0.dat
tmp_storage/MaNGA_PIPE3D_spaxels_density.dat
tmp_storage/MaNGA_star_forming_spaxels_data_v3.0.npy
tmp_storage/MaNGA_star_forming_spaxels_data_v3.0.csv
tmp_storage/MaNGA_star_forming_spaxels_data_v3.0.dat
tmp_storage/MaNGA_spaxel.v3.0.pd.pkl
tmp_storage/MaNGA_exp_metal_spaxel.v3.0.pd.pkl
